* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    max-width: 90vw;
    text-align: center;
    width: 500px;
    color: #eaeaea;
}